
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  background: #000;
  height: 100%;
}

.content{
  display: flex;
  justify-content: center;
  background: #000;
  color: wheat;
  margin-top: 100px;
}

.leaflet-marker-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 100%;
  margin: 0px;
}

.my-div-icon{
  text-align: center;
  background-color: orange;
  color: #fff;
  font-size: 14px;
}

.main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1400px;
  border: 2px solid black;
  background: #000;
  padding-bottom: 100px;
  gap: 50px;

  div.stats{
    width: 80vw;
    height: 600px;
    background: white;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.popup-content {
  background: #fff; /* Color de fondo del pop-up */
  padding: 20px;
  border-radius: 8px;
  width: 50vw; /* Puedes ajustar el ancho máximo según tus necesidades */
  height: 500px; /* Puedes ajustar la altura máxima según tus necesidades */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ddd; /* Color del botón de cierre */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.mapa-contenedor{
  border: 2px solid red;
  display: flex;
  width: 90vw;
  gap: 10%;
}

.leaflet-container{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  height: 600px;
}

.lista-captadores{
  height: 600px;
  background: #fff;
  width: 20%;
  color: black;
  font-size: 24px;
  overflow: hidden;
  overflow-y: scroll;

  > ul {
    text-align: center;
    list-style: none;

    > li {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    > li:hover{
      background-color: aquamarine;
      transition: all 0.5s ease-in;
      cursor: pointer;
    }
  }
}


.divTest{
  position: absolute;
  color: red;
  z-index: 110000;
  top: 100%;
}

